<h1>Seu Perfil</h1>

<h3>Este é o seu perfil, o seu cadastro em nosso estúdio! Mantenha-o atualizado sempre que possível!</h3>

<p>
	<b>Nome:</b> <%= @profile.name %> <%= @profile.surname %>
</p>

<p>
	<b>Endereço:</b> <%= @profile.address1 %>
</p>

<p>
	<b>Cidade/Estado:</b> <%= @profile.address2%>
</p>

<p>
	<b>Telefone para contato:</b> <%= @profile.phone%>
</p>

<p>
	<b>Data de Nascimento:</b> <%= @profile.birthdate%>
</p>

<p>
	<b>Data de Inscrição na Pulsar Studio Fitness:</b> <%= @profile.signdate%>
</p>

<%= link_to 'Editar Perfil', edit_user_profile_path(@profile.user) %>
<%= link_to 'Voltar...', controller: "pages", action: "home" %>