<%= form_for [@user,@exam] do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "Erro") %> impediram este exame de ser salvo:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Coloque a data em que o exame foi realizado:</p>
  <%= f.label :dataexame, "Data do Exame:" %> <br>
    <%= f.date_select(:dataexame, :order => [:day, :month, :year], :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'], :start_year => Time.now.year - 6, :end_year => Time.now.year) %>

  <div class="group">
    <h3>Colesterol</h3>
    <%= f.label :hdl, "HDL: " %>
    <%= f.number_field :hdl %>
    <%= f.label :ldl, "LDL: " %>
    <%= f.number_field :ldl %>
    <%= f.label :vldl, "VLDL: " %>
    <%= f.number_field :vldl %>
  </div>
  <div class="group">
    <h3>Hepatograma</h3>
    <%= f.label :tgo, "TGO (AST): " %>
    <%= f.number_field :tgo %>
    <%= f.label :tgp, "TGP (ALT): " %>
    <%= f.number_field :tgp %>
    <%= f.label :ggt, "Gama GT: " %>
    <%= f.number_field :ggt %>
    <%= f.label :fosfatase, "Fosfatase Alcalina: " %>
    <%= f.number_field :fosfatase %>
    <%= f.label :bilirrubina, "Bilirrubinas: " %>
    <%= f.number_field :bilirrubina %>
    <%= f.label :glicose %>
    <%= f.number_field :glicose %>
  </div>
  <div class="group">
    <h3>Renais</h3>
    <%= f.label :acidourico, "Ácido Úrico: " %>
    <%= f.number_field :acidourico %>
    <%= f.label :ureia, "Uréia: " %>
    <%= f.number_field :ureia %>
    <%= f.label :creatina, "Creatinina: " %>
    <%= f.number_field :creatina %>
    <%= f.label :cknac, "Creatina Kinase (CK-NAC): " %>
    <%= f.number_field :cknac %>
  </div>
  <div class="group">
    <h3>Hormonais</h3>
    <%= f.label :tsh, "TSH: " %>
    <%= f.number_field :tsh %>
    <%= f.label :t4, "T4: " %>
    <%= f.number_field :t4 %>
    <%= f.label :fsh, "FSH: " %>
    <%= f.number_field :fsh %>
    <%= f.label :prolactina, "Prolactina: " %>
    <%= f.number_field :prolactina %>
    <%= f.label :testosterona, "Testosterona: " %>
    <%= f.number_field :testosterona %>
    <%= f.label :estradiol, "Estradiol: " %>
    <%= f.number_field :estradiol %>
    <%= f.label :lh, "LH: " %>
    <%= f.number_field :lh %>
    <%= f.label :lpo, "TPO: " %>
    <%= f.number_field :lpo %>
    <%= f.label :t3, "T3: " %>
    <%= f.number_field :t3 %>  
    <%= f.label :lipoprot, "Lipoproteína: " %>
    <%= f.number_field :lipoprot %>
    <%= f.label :androst, "Androstenediona: " %>
    <%= f.number_field :androst %>  
    <%= f.label :cortisol, "Cortisol: " %>
    <%= f.number_field :cortisol %>
    <%= f.label :homocist, "Homocisteína: " %>
    <%= f.number_field :homocist %>
    <%= f.label :shbg, "SHBG: " %>
    <%= f.number_field :shbg %>  
    <%= f.label :teslivre, "Testosterona Livre: " %>
    <%= f.number_field :teslivre %>
    <%= f.label :insulina, "Insulina: " %>
    <%= f.number_field :insulina %>
  </div>
  <div class="group">
    <%= f.label :obs, "Observações: " %><br />
    <%= f.text_area :obs, size: "40x5" %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", disable_with: "Enviando..." %>
  </div>
<% end %>
