<h1>Lista de Exames</h1>

<table>
  <tr>
    <th>Data do Exame</th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.dataexame.to_formatted_s(:short) %></td>
    <td><%= link_to 'Ler Exame', [@user,exam] %></td>
    <td><%= link_to 'Editar Exame', edit_user_exam_path(@user,exam) %></td>
    <td><%= link_to 'Excluir Exame', [@user,exam], method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Exame', new_user_exam_path(@user) %>
