<p id="notice"><%= notice %></p>

<div class="group">
  <h3>Colesterol</h3>
  <b>HDL: </b>
  <%= @exam.hdl %> mg/dL
  <b>LDL: </b>
  <%= @exam.ldl %> mg/dL
  <b>VLDL: </b>
  <%= @exam.vldl %> mg/dL
</div>
<div class="group">
  <h3>Hepatograma</h3>
  <b>TGO (AST): </b>
  <%= @exam.tgo %> UK
  <b>TGP (ALT): </b> 
  <%= @exam.tgp %> UK
  <b>Gama GT: </b>
  <%= @exam.ggt %> u/l
  <b>Fosfatase Alcalina: </b>
  <%= @exam.fosfatase %> u/l
  <b>Bilirrubinas: </b>
  <%= @exam.bilirrubina %> mg/dL
  <b>Glicose </b>
  <%= @exam.glicose %> mg/dL
</div>
<div class="group">
  <h3>Renais</h3>
  <b>Ácido Úrico: </b>
  <%=@exam.acidourico %> mg/dL
  <b>Uréia: </b> 
  <%=@exam.ureia %> mg/dL
  <b>Creatinina: </b> 
  <%=@exam.creatina %> mg/dL
  <b>Creatina Kinase (CK-NAC): </b>
  <%=@exam.cknac %> U/L
</div>
<div class="group">
  <h3>Hormonais</h3>
  <b>TSH: </b>
  <%= @exam.tsh %> mcUI/mL
  <b>T4: </b>
  <%= @exam.t4 %> mcg/dL
  <b>FSH: </b>
  <%= @exam.fsh %> U/L
  <b>Prolactina: </b>
  <%= @exam.prolactina %>
  <b>Testosterona: </b> U/L
  <%= @exam.testosterona %>
  <b>Estradiol: </b> U/L
  <%= @exam.estradiol %>
  <b>LH: </b> U/L
  <%= @exam.lh %>
  <b>TPO: </b> U/L
  <%= @exam.lpo %>
  <b>T3: </b> U/L
  <%= @exam.t3 %>  
  <b>Lipoproteína: </b> U/L
  <%= @exam.lipoprot %>
  <b>Androstenediona: </b> U/L
  <%= @exam.androst %>  
  <b>Cortisol: </b> U/L
  <%= @exam.cortisol %>
  <b>Homocisteína: </b> U/L
  <%= @exam.homocist %>
  <b>SHBG: </b> U/L
  <%= @exam.shbg %>  
  <b>Testoserona Livre: </b> U/L
  <%= @exam.teslivre %>
  <b>Insulina: </b> U/L
  <%= @exam.insulina %>
</div>
<div class="group">
  <h3>Observações: </h3>
  <%= @exam.obs %>
</div>

<%= link_to 'Editar', edit_user_exam_path(@user,@exam) %> |
<%= link_to 'Voltar', user_exams_path(@user) %>
