<p id="notice"><%= notice %></p>

<p>
  <b>Hdl:</b>
  <%= @exam.hdl %>
</p>

<p>
  <b>Ldl:</b>
  <%= @exam.ldl %>
</p>

<p>
  <b>Vldl:</b>
  <%= @exam.vldl %>
</p>

<p>
  <b>Tgo:</b>
  <%= @exam.tgo %>
</p>

<p>
  <b>Tgp:</b>
  <%= @exam.tgp %>
</p>

<p>
  <b>Ggt:</b>
  <%= @exam.ggt %>
</p>

<p>
  <b>Fosfatase:</b>
  <%= @exam.fosfatase %>
</p>

<p>
  <b>Bilirrubina:</b>
  <%= @exam.bilirrubina %>
</p>

<p>
  <b>Acidourico:</b>
  <%= @exam.acidourico %>
</p>

<p>
  <b>Ureia:</b>
  <%= @exam.ureia %>
</p>

<p>
  <b>Creatina:</b>
  <%= @exam.creatina %>
</p>

<p>
  <b>Cknac:</b>
  <%= @exam.cknac %>
</p>

<p>
  <b>Glicose:</b>
  <%= @exam.glicose %>
</p>

<p>
  <b>Tsh:</b>
  <%= @exam.tsh %>
</p>

<p>
  <b>T4:</b>
  <%= @exam.t4 %>
</p>

<p>
  <b>Fsh:</b>
  <%= @exam.fsh %>
</p>

<p>
  <b>Prolactina:</b>
  <%= @exam.prolactina %>
</p>

<p>
  <b>Testosterona:</b>
  <%= @exam.testosterona %>
</p>

<p>
  <b>Estradiol:</b>
  <%= @exam.estradiol %>
</p>

<p>
  <b>Lh:</b>
  <%= @exam.lh %>
</p>

<p>
  <b>Lpo:</b>
  <%= @exam.lpo %>
</p>

<p>
  <b>T3:</b>
  <%= @exam.t3 %>
</p>

<p>
  <b>Lipoprot:</b>
  <%= @exam.lipoprot %>
</p>

<p>
  <b>Androst:</b>
  <%= @exam.androst %>
</p>

<p>
  <b>Cortisol:</b>
  <%= @exam.cortisol %>
</p>

<p>
  <b>Homocist:</b>
  <%= @exam.homocist %>
</p>

<p>
  <b>Shbg:</b>
  <%= @exam.shbg %>
</p>

<p>
  <b>Teslivre:</b>
  <%= @exam.teslivre %>
</p>

<p>
  <b>Insulina:</b>
  <%= @exam.insulina %>
</p>

<p>
  <b>Densidade:</b>
  <%= @exam.densidade %>
</p>

<p>
  <b>Ph:</b>
  <%= @exam.ph %>
</p>

<p>
  <b>Sedimento:</b>
  <%= @exam.sedimento %>
</p>

<p>
  <b>Soridutoras:</b>
  <%= @exam.soridutoras %>
</p>

<p>
  <b>Catomico:</b>
  <%= @exam.catomico %>
</p>

<p>
  <b>Hemoglobina:</b>
  <%= @exam.hemoglobina %>
</p>

<p>
  <b>Cristais:</b>
  <%= @exam.cristais %>
</p>


<%= link_to 'Editar', edit_user_exam_path(@user,@exam) %> |
<%= link_to 'Voltar', user_exams_path(@user) %>
