<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Pulsar Studio Fitness</title>

<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery.imagemapster" %>

<%= csrf_meta_tag %>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
<link href="resources/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />

<script language="JavaScript">
	$(document).ready(function(){
		$('#musculomfront').mapster({ 
		    scaleMap: false,
		    fillOpacity: 0.0,
		    strokeOpacity: 0.0,
		    stroke: false, 
		    singleSelect: false,		    
		    showToolTip: true,
		    mapKey: 'data-key',
		    mouseoutDelay: 3000,
		    areas:  [
		    				    		<%@details.each do |detail| %>
		    		{

					<%= (detail.tipo==1 ? "fillColor: 'FF0000'" : "fillColor: '0000FF'").html_safe %>,
						fillOpacity: 0.2,
						strokeOpacity: 0.8,
						stroke: true, 
						showToolTip: true,
		    			key: "<%= detail.area %>",
		    			toolTip: "<h3 class='tooltip'><%= detail.title %></h3><p> <%= detail.description.truncate(25) %> </p>",
		    			selected: true,
		    			toolTipClose: 'tooltip-click',

		    		},
		    		<% end %>
		    		<%@cronicos.each do |detail| %>
		    		{

					    <%= (detail.tipo==1 ? "fillColor: 'FFaa00'" : "fillColor: '00aaFF'").html_safe %>,
						fillOpacity: 0.2,
						strokeOpacity: 0.8,
						stroke: true, 
						showToolTip: true,
		    			key: "<%= detail.area %>",
		    			toolTip: "<h3 class='tooltip'><%= detail.title %></h3><p> <%= detail.description.truncate(25) %> <br> <b>Crônico</b> </p>",
		    			selected: true,
		    			toolTipClose: 'tooltip-click',

		    		},
		    		<% end %>
		            ]
		}),
		$('#musculomback').mapster({ 
		    scaleMap: false,
		    fillOpacity: 0.0,
		    strokeOpacity: 0.0,
		    stroke: false,
		    singleSelect: false,
		    showToolTip: true,
		    mapKey: 'data-key',
		    mouseoutDelay: 3000,
		    areas:  [
		    				    		<%@details.each do |detail| %>
		    		{

					<%= (detail.tipo==1 ? "fillColor: 'FF0000'" : "fillColor: '0000FF'").html_safe %>,
						fillOpacity: 0.2,
						strokeOpacity: 0.8,
						stroke: true, 
						showToolTip: true,
		    			key: "<%= detail.area %>",
		    			toolTip: "<h3 class='tooltip'><%= detail.title %></h3><p> <%= detail.description.truncate(25) %> </p>",
		    			selected: true,
		    			toolTipClose: 'tooltip-click',

		    		},
		    		<% end %>
		    		<%@cronicos.each do |detail| %>
		    		{

					    <%= (detail.tipo==1 ? "fillColor: 'FFaa00'" : "fillColor: '00aaFF'").html_safe %>,
						fillOpacity: 0.2,
						strokeOpacity: 0.8,
						stroke: true, 
						showToolTip: true,
		    			key: "<%= detail.area %>",
		    			toolTip: "<h3 class='tooltip'><%= detail.title %></h3><p> <%= detail.description.truncate(25) %> <br> <b>Crônico</b> </p>",
		    			selected: true,
		    			toolTipClose: 'tooltip-click',

		    		},
		    		<% end %>
		            ]
		})
	});
</script>

</head>

<body>

<div id="header">
	<%= link_to image_tag("logo.png", :border => 0), root_path %>
</div>

<div id="menu">
	<% if user_signed_in? %>
		<%= !current_user.profile.blank? ? (link_to "Seu Perfil", user_profile_path(current_user), class: "menu") : (link_to "Home", root_path, class: "menu") %> <a class="menu"  href="#">Sua Saúde</a> <%= link_to "Avaliações Físicas", user_evaluations_path(current_user), class: "menu" %> <%= link_to "Avaliações Posturais", user_postural_assessments_path(current_user), class: "menu" %> <%= link_to "Exames", user_exams_path(current_user), class: "menu" %>
	<% end %>
	
	<div class="login">
	<% if user_signed_in? %>
          Olá <strong><%= current_user.email %></strong>.
          <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Registrar", new_user_registration_path %> |
          <%= link_to "Entrar", new_user_session_path %>
    <% end %>
    </div>
</div>


<div id="conteiner">
	<div id="content_left">
		<div style="text-align:center; margin-left:auto; margin-right:auto;">
			<img id="musculomfront" src="<%= image_path("MusculosMFront.jpg") %>" usemap="#map_muscmfront" border="0" alt="" />
			<map id="map_muscmfront" name="map_muscmfront">
				<area data-key="1" shape="poly" coords="139,198,147,201,158,204,174,205,187,205,198,207,212,215,226,211,238,208,247,208,261,208,272,207,287,205,284,202,278,199,243,175,241,164,241,157,236,161,227,166,218,171,210,172,205,170,198,164,192,158,186,152,185,169,178,177,164,183,152,191," href="#" alt="Pescoço" title="Pescoço"   />
				<area data-key="2" shape="poly" coords="13,512,21,519,31,513,38,509,20,556,25,561,45,526,33,567,41,572,57,530,54,565,60,569,67,529,71,556,78,556,78,523,85,484,59,475,45,483,32,499," href="#" alt="Mão Direita" title="Mão Direita"   />
				<area data-key="3" shape="poly" coords="336,487,363,480,379,489,390,503,406,515,398,521,390,516,382,511,387,527,394,542,401,561,395,564,377,530,382,550,389,572,382,575,377,561,370,543,365,533,365,547,367,572,359,573,358,562,357,548,354,532,351,554,348,562,344,558,343,548,344,533,344,523,340,508," href="#" alt="Mão Esquerda" title="Mão Esquerda"   />
				<area data-key="4" shape="poly" coords="45,483,56,486,64,489,72,486,82,483,89,475,89,466,96,451,104,431,116,407,124,379,118,371,111,367,104,357,94,362,90,359,87,348,84,345,77,366,73,395,70,426,68,440,61,459,59,474," href="#" alt="Punho e Antebraço Direito" title="Punho e Antebraço Direito"   />
				<area data-key="5" shape="poly" coords="343,514,348,502,357,493,376,508,388,510,388,500,376,486,367,479,359,466,356,443,352,423,350,401,345,370,337,354,333,344,331,366,323,366,319,361,313,369,307,375,300,375,295,376,300,390,307,411,314,426,320,440,327,457,333,476,339,493," href="#" alt="Punho e Antebraço Esquerdo" title="Punho e Antebraço Esquerdo"   />
				<area data-key="6" shape="poly" coords="296,360,305,357,309,352,320,361,331,367,335,354,333,340,331,324,328,298,325,282,326,263,324,243,317,228,311,218,300,209,291,206,275,208,264,210,248,210,234,210,227,215,223,224,223,238,220,252,217,266,216,280,221,289,229,296,244,300,259,302,272,299,280,294,283,288,287,274,289,258,294,274,293,288,291,297,289,311,285,320,284,328,288,335,291,346," href="#" alt="Braço Superior e Ombro Esquerdo" title="Braço Superior e Ombro Esquerdo"   />
				<area data-key="7" shape="poly" coords="94,365,89,351,87,340,91,329,93,313,97,296,99,282,99,269,97,244,100,231,108,216,116,208,128,202,143,204,157,206,175,208,191,208,199,211,200,222,200,234,205,249,205,260,204,273,201,285,192,292,181,297,169,298,159,296,148,283,143,274,137,259,130,248,136,274,132,283,131,298,129,311,128,320,120,329,116,333,111,340,113,347,120,352,124,359,119,367,113,368,111,360,103,358," href="#" alt="Braço Superior e Ombro Direito" title="Braço Superior e Ombro Direito"   />
				<area data-key="8" shape="poly" coords="138,327,138,318,138,310,151,310,162,303,180,300,193,295,207,293,219,295,232,299,248,303,259,308,270,315,279,317,280,327,276,340,275,352,272,364,271,376,270,390,272,401,272,414,272,423,263,435,251,451,240,466,230,488,217,507,208,516,203,519,196,517,190,512,179,488,173,472,169,459,162,448,153,438,147,427,141,419,140,411,141,400,144,390,146,378,146,367,145,356,145,346,141,339," href="#" alt="Abdomen" title="Abdomen"   />
				<area data-key="9" shape="poly" coords="136,431,141,442,143,447,149,456,153,470,160,470,166,475,172,489,176,500,181,512,187,520,196,525,197,515,197,508,195,502,188,491,186,481,180,471,175,460,168,448,162,440,156,432,149,422,143,412,139,422," href="#" alt="Pelve e Virilha Direita" title="Pelve e Virilha Direita"   />
				<area data-key="10" shape="poly" coords="207,522,215,526,220,519,227,511,228,500,237,499,243,494,247,485,247,477,248,468,254,461,262,456,271,448,276,439,272,430,273,423,267,427,259,434,249,444,244,452,235,458,231,469,225,479,220,487,215,498,210,511," href="#" alt="Pelve e Virilha Esquerda" title="Pelve e Virilha Esquerda"   />
				<area data-key="11" shape="poly" coords="152,683,147,671,143,660,141,651,137,632,131,608,127,582,124,559,123,544,122,526,124,511,127,494,129,476,133,461,137,447,141,433,151,450,159,462,167,478,174,493,181,508,187,520,193,534,198,551,201,567,201,590,199,608,196,623,198,642,199,669,195,694,193,706,189,703,191,680,186,677,183,674,180,663,179,649,179,642,166,642,156,645,160,654,160,667,157,680," href="#" alt="Coxa Direita" title="Coxa Direita"   />
				<area data-key="12" shape="poly" coords="218,530,223,519,228,507,234,499,242,487,250,478,260,469,269,461,276,466,280,483,283,509,285,534,285,563,281,593,277,616,272,643,266,666,260,686,256,683,252,671,253,660,255,648,249,650,239,651,232,648,234,660,231,670,229,680,223,682,219,678,214,671,214,658,213,643,212,630,212,615,210,602,208,586,208,571,208,556,213,544," href="#" alt="Coxa Esquerda" title="Coxa Esquerda"   />
				<area data-key="13" shape="poly" coords="144,660,148,675,151,683,157,670,158,659,160,648,171,651,177,658,179,668,181,676,188,677,194,667,198,661,197,678,192,695,190,708,189,722,187,734,184,741,179,736,173,733,166,736,163,732,161,720,159,711,155,701,151,706,149,712,145,716,144,707,145,698,145,682," href="#" alt="Joelho Direito" title="Joelho Direito"   />
				<area data-key="14" shape="poly" coords="214,681,220,683,228,686,229,677,233,670,236,661,243,660,252,660,253,671,255,683,261,688,265,693,266,708,266,721,259,718,256,710,255,720,249,728,247,736,243,736,237,735,234,729,231,724,224,718,219,716,217,710,217,700,216,691," href="#" alt="Joelho Esquerdo" title="Joelho Esquerdo"   />
				<area data-key="15" shape="poly" coords="145,715,143,728,141,746,140,762,141,776,145,794,151,811,157,827,160,845,161,863,166,874,169,887,177,888,187,883,194,878,195,868,192,851,193,834,195,813,195,795,197,776,195,760,195,744,192,728,188,733,185,740,184,749,179,754,171,754,168,751,164,743,163,732,160,719,155,700," href="#" alt="Perna Direita" title="Perna Direita"   />
				<area data-key="16" shape="poly" coords="223,724,221,734,217,751,215,771,217,787,221,817,223,839,221,856,222,868,220,882,229,890,241,894,248,891,251,881,253,870,256,858,256,846,259,830,262,814,266,794,271,771,270,748,269,736,269,726,267,712,264,722,260,716,257,711,252,718,251,728,249,736,244,740,238,740,232,736,229,730," href="#" alt="Perna Esquerda" title="Perna Esquerda"   />
				<area data-key="17" shape="poly" coords="156,939,161,947,175,946,187,947,197,946,201,938,203,927,200,906,197,895,188,892,176,894,170,899,167,914,164,923,159,932," href="#" alt="Pé Direito" title="Pé Direito"   />
				<area data-key="18" shape="poly" coords="218,903,218,914,217,926,217,934,225,945,239,945,252,945,259,945,261,939,261,934,257,928,253,923,251,914,248,908,242,904,233,901," href="#" alt="Pé Esquerdo" title="Pé Esquerdo"   />
				<area shape="rect" coords="548,1273,550,1275" href="http://www.image-maps.com/index.php?aff=mapped_users_1201308151610437" alt="Image Map" title="Image Map" />
			</map>
		</div>
	</div>
	<div id="content_center">
		<% flash.each do |name, msg| %>
        	<%= content_tag :div, msg, id: "flash_#{name}" %>
      	<% end %>

    	<%= yield %>
	</div>
	<div id="content_right">
		<div style="text-align:center; margin-left:auto; margin-right:auto;">
			<img id="musculomback" src="<%= image_path("MusculosMBack.jpg") %>" usemap="#map_muscmback" border="0" alt="" />
			<map id="map_muscmback" name="map_muscmback">
				<area data-key="19" shape="poly" coords="124,249,126,237,136,230,150,227,162,222,166,235,169,250,171,270,170,285,175,298,182,308,187,318,194,330,195,341,198,352,207,359,214,358,218,349,222,339,227,330,234,322,243,310,247,300,252,283,255,269,255,252,255,236,261,224,272,229,277,235,282,244,285,257,286,271,285,288,283,300,282,312,281,323,278,335,273,350,267,362,267,375,262,394,255,411,253,427,245,419,246,406,244,389,239,378,230,372,215,369,204,369,194,372,185,379,179,389,175,399,173,410,167,419,161,423,160,411,150,389,143,366,142,356,141,344,138,331,135,327,141,316,145,302,143,292,143,282,141,270,134,258," href="#" alt="Dorso" title="Dorso"   />
				<area data-key="20" shape="poly" coords="96,328,99,349,107,361,119,368,127,369,123,383,118,396,114,407,108,414,106,397,104,389,97,380,93,373,91,367,93,354,93,340," href="#" alt="Cotovelo Esquerdo" title="Cotovelo Esquerdo"   />
				<area data-key="21" shape="poly" coords="316,413,312,403,307,394,307,377,315,367,324,357,326,346,329,332,330,354,334,369,332,378,323,389,318,399," href="#" alt="Cotovelo Direito" title="Cotovelo Direito"   />
				<area data-key="22" shape="poly" coords="170,908,175,916,176,927,190,927,199,927,200,916,202,904,199,894,195,884,195,876,189,883,193,898,192,909,185,911,178,905,176,893,171,884,165,879,168,896," href="#" alt="Tornozelo Esquerdo" title="Tornozelo Esquerdo"   />
				<area data-key="23" shape="poly" coords="225,927,220,925,217,918,217,905,220,894,223,884,228,897,229,912,236,914,238,905,240,891,249,877,246,899,248,909,249,919,243,930,234,930," href="#" alt="Tornozelo Direito" title="Tornozelo Direito"   />
				<area shape="rect" coords="418,972,420,974" href="http://www.image-maps.com/index.php?aff=mapped_users_1201308161124005" alt="Image Map" title="Image Map" />
			</map>
		</div>
    </div>
</div>
<div id="footer">
	<p class="footer">© 2013 Pulsar Studio Fitness - Orgulhosamente desenvolvido por Octal SoftWorks</p>
</div>


</body>

</html>